.wrapper {
  margin: 50px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.timeWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 50px;
}
